<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>User Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>
  <center>
    <h2>List des agences</h2>
  </center>
  <div class="container">
    <p class="">Logged as: <span sec:authentication="name"></span></p>
    <p class="">Has role: <span sec:authentication="authorities"></span></p> <br>
  </div>
  <div class="container" style="display: flex; place-items: 12px;">
    <p class="spacer"><a th:href="@{/admin/dashboard}">Home</a></p>
    <p class="spacer"><a th:href="@{/admin/createAgence}">Create agnce</a></p>
    <p class="spacer"><a th:href="@{/admin/agences}">Agences</a></p>
    <p class="spacer"><a th:href="@{/updateAccount}">Update Account</a></p>
    <p class="spacer"><a th:href="@{/updatePassword}">updatePassword</a></p>
    <p class="spacer"><a th:href="@{/logout}">Log out</a></p>
  </div>
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">DirectorId</th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>

        <tr th:if="${agences.empty}">
          <th scope="row">1</th>
          <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="agence : ${agences}">
          <!-- <th scope="row">1</th> -->
          <td><span th:text="${agence.id}"> </span></td>
          <td><span th:text="${agence.name}"> </span></td>
          <td><span th:text="${agence.directorId}"> </span></td>
          <td>
            <!-- (id=${agence.id}) -->
            <a th:href="@{/admin/agence/delete(id=${agence.id})}">
              <i class="bi bi-trash red"></i>
            </a>
          </td>
          <td>
            <a th:href="@{/admin/agence/edit(id=${agence.directorId})}">
              <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>



  <style>
    .spacer {
      margin: 18px;
    }

    .red {
      color: red;
    }
  </style>
</body>

</html>