<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>User Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>
  <center>
    <h2>CREATE AGENCE</h2>
  </center>
  <div class="container">
    <p class="">Logged as: <span sec:authentication="name"></span></p>
    <p class="">Has role: <span sec:authentication="authorities"></span></p> <br>
  </div>
  <div class="container" style="display: flex; place-items: 12px;">
    <p class="spacer"><a th:href="@{/}">Home</a></p>
    <p class="spacer"><a th:href="@{/admin/createAgence}">Create agnce</a></p>
    <p class="spacer"><a th:href="@{/admin/agences}">Agences</a></p>
    <p class="spacer"><a th:href="@{/updateAccount}">Update Account</a></p>
    <p class="spacer"><a th:href="@{/updatePassword}">updatePassword</a></p>
    <p class="spacer"><a th:href="@{/logout}">Log out</a></p>
  </div>
  <div class="container">

    <center>
      <h1 class="p-12">CREAtion d'AGENCE</h1>
    </center>
    <form th:action="@{/admin/saveAgence}" th:object="${user}" method="post">
      <div class=" mb-1">
        <label for="exampleFormControlInput1" class="form-label">First Name</label>
        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"
          id="exampleFormControlInput1" />
      </div>
      <div class=" mb-1">
        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"
          id="exampleFormControlInput1" />
      </div>
      <div class=" mb-1">
        <label for="exampleFormControlInput1" class="form-label">Mobile phone Number</label>
        <input type="number" th:field="*{mobile}" placeholder="Mobile Number" class="form-control"
          id="exampleFormControlInput1" />
      </div>
      <div class=" mb-1">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control" id="exampleFormControlInput1" />
      </div>
      <div class=" mb-1">
        <label for="exampleFormControlInput1" class="form-label">password</label>
        <input type="password" th:field="*{password}" placeholder="Password" class="form-control"
          id="exampleFormControlInput1" />
      </div>
      <select th:field="*{role}" required class="select" hidden>
        <option value="DIRECTOR">DIRECTOR</option>
      </select>
      <div class="div">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
      <div class="alert alert-success">
        <span th:utext="${successMessage}"></span>
      </div>

      <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}" class="alert alert-danger">
        <ul th:each="data : ${bindingResult.getAllErrors()}">
          <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
        </ul>
      </div>
    </form>
  </div>
  <style>
    .spacer {
      margin: 18px;
    }

    .red {
      color: red;
    }
  </style>
</body>

</html>